*{
	margin:0px;
	
}
td[title="产品列表"]{
	color: antiquewhite !important;
}
html {
  scroll-behavior: smooth;
}
#nav-top{
	width:100%;
	height:54px;
	background-color:rgb(0, 170, 255);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position:fixed;
	top:0px;
	z-index: 10;
}
table{
	border:2px;
}
tr{
	border:2px;
}
td{
	width:100px;
	/* background-color: wheat; */
	text-align: center;
	font-size:15px;
	color: aliceblue;
}

td a{
	text-decoration: none;
	color: aliceblue;
}
td a:visited {
    color: inherit;
}
td a:active {
    color: inherit;
}
body{
	position:relative;
	top:54px;
	background-color: rgb(245, 247, 250);
}

#head{
	width:100%;
	height: 320px;
	overflow: hidden;
	background-image: url(../img/大自然.webp);
	background-position: 0px;
	background-size: 100%;
}
#head div{
	width:100%;
	height: 320px;
	background-color: rgb(0, 0, 0,30%);
	color: aliceblue;
	text-align: center;
	
}
#head div h1{
	font-size: 40px;
}
#head div span{
	font-size: 20px;
}
#head div h1,span{
	padding-top: 110px;
}
#search{
	width: 560px;
	height:45px;
	margin: 35px auto;
}
#s-input{
	width: 480px;
	height: 40px;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
	border: 1px solid rgb(189, 191, 193);
}
#s-btn{
	width:64px;
	height: 44px;
	position: relative;
	left: -5px;
	border-radius: 0 5px 5px 0;
	border: 1px solid rgb(189, 191, 193);
	background-color: rgb(0, 170, 255);
	color: rgb(248, 248, 250);
	cursor: pointer;
	
}
#s-btn a{
	text-decoration: none;
}
#s-btn a:active{
	color: rgb(85, 26, 139);
}
#s-btn:hover{
	background-color: rgb(81, 157, 238);
	color: whitesmoke;
	transition: all 0.2s ease;
}
#s-btn:active{
	transform: scale(92%);
}


#products{
	width: 85%;
	margin: 40px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#p-1,#p-2,#p-3,#p-4,#p-5,#p-6{
	width: 350px;
	height: 600px;
	background-color: aqua;
	margin-bottom: 30px;
	position: relative;
	border-radius: 10px;
}
#p-1:hover,#p-2:hover,#p-3:hover,#p-4:hover,#p-5:hover,#p-6:hover{
	box-shadow:0 5px 8px rgb(91, 96, 99,90%) ;
	transform: translateY(-6px);
	transition: all 0.6s ease; 
	border-radius: 15px;
	background-size: 110%;
}
#p-6:hover{
	box-shadow:0 5px 8px rgb(91, 96, 99,90%) ;
	transform: translateY(-6px);
	transition: all 0.6s ease; 
	border-radius: 15px;
	background-size: 182%;
}
#p-content{
	background-color: rgb(255, 255, 255);
	height: 50%;
	position: absolute;
	bottom: 0px;
	padding: 30px 15px;
	line-height: 25px;
	border-radius: 0 0 9px 9px;
}
#p-content h4{
	font-weight: 500;
	color: rgb(0, 170, 255);
	margin: 12px 0px;
}
#p-content div{
	height: 60px;
}
#p-content div span{
	font-size: 23px;
	color: red;
	font-weight: bold;
	
}
#p-content button{
	border-radius: 5px;
	border: 1px solid rgb(189, 191, 193);
	background-color: rgb(44, 62, 80);
	color: rgb(248, 248, 250);
	font-size: 13px;
	padding: 5px 8px;
}
#p-content div button{
	width: 100px;
	height: 35px;
	position: absolute;
	right: 25px;
	border-radius: 5px;
	border: 1px solid rgb(189, 191, 193);
	background-color: rgb(0, 170, 255);
	color: rgb(248, 248, 250);
	cursor: pointer;
}
#p-content div button:hover{
	background-color: rgb(0, 153, 230);
}
#p-1{
	background-image: url(../img/p1.webp);
	background-size: 100%;
}
#p-2{
	background-image: url(../img/p2.webp);
	background-size: 100%;
	background-position: 0px -70px;
}
#p-3{
	background-image: url(../img/p3.webp);
	background-size: 100%;
	background-position: 0px -150px;
}
#p-4{
	background-image: url(../img/p4.webp);
	background-size: 100%;
	background-position: 0px -160px;
}
#p-5{
	background-image: url(../img/p5.webp);
	background-size: 100%;
}
#p-6{
	background-image: url(../img/p6.webp);
	background-size: 172%;
	background-position: -90px 0px;
}

main h1{
	margin-left: 150px;
}
@media(max-width:1200px){
	#products{
		width: 97%;
	}
	main h1{
		margin-left: 4%;
	}
}
footer{
	width: 90%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	margin: 0 auto;
	padding: 30px 20px;
	border-radius: 6px;
}
footer h1{
	margin: 10px 0px 30px 0px;
}
#f-content{
	width: 100%;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}
#f{
	width: 260px;
	height: 200px;
	margin: 5px 20px;
}

#f span:nth-child(1){
	font-size: 50px;
}



#Back-to-top{
	width: 70px;
	height: 70px;
	/* background-color: antiquewhite; */
	z-index: 10;
	position: fixed;
	right:50px;
	bottom:40px;
	background-image: url(../img/返回顶部.webp);
	background-position:center;
	background-size: 130%;
	border-radius: 50%;
}
#Back-to-top:hover{
	transform: scale(102%);
}
#Back-to-top:active{
	transform:scale(95%)
}





