.none{
	display: none !important;
}
*{
	margin:0px;
	
}
td[title="物流追踪"]{
	color: antiquewhite !important;
}
html {
  scroll-behavior: smooth;
}
#nav-top{
	width:100%;
	height:54px;
	background-color:rgb(0, 170, 255);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position:fixed;
	top:0px;
	z-index: 10;
}
table{
	border:2px;
}
tr{
	border:2px;
}
td{
	width:100px;
	/* background-color: wheat; */
	text-align: center;
	font-size:15px;
	color: aliceblue;
}

td a{
	text-decoration: none;
	color: aliceblue;
}
td a:visited {
    color: inherit;
}
td a:active {
    color: inherit;
}
body{
	position:relative;
	top:110px;
	background-color: rgb(241, 243, 245);
}

h1{
	margin: 10px 25.5%;
	color: rgb(44, 62, 80);
	font-size: 28px;
	margin-bottom: 15px;
}
#loading{
	margin: 20px 25.5%;
	color: rgb(44, 62, 80);
	font-size: 17px;
	margin-bottom: 15px;
}
main{
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: -8px;
}
article{
	padding-left: 21px;
	margin: 0 15.5%;
	border-left: 2px solid rgb(221, 221, 221);
}
#one,#two,#three{
	height: 110px;
	line-height: 28px;
}

#one div,#two div,#three div{
	width: 15px;
	height: 15px;
	background-color: rgb(221, 221, 221);
	border-radius: 10px;
	position: relative;
	left: -29px;
	top: 20px;
}

#one h2,#two h2,#three h2{
	font-size: 18px;
	color: rgb(44, 62, 80);
}


#Back-to-top{
	width: 70px;
	height: 70px;
	/* background-color: antiquewhite; */
	z-index: 10;
	position: fixed;
	right:50px;
	bottom:40px;
	background-image: url(../img/返回顶部.jpg);
	background-position:center;
	background-size: 130%;
	border-radius: 50%;
}
#Back-to-top:hover{
	transform: scale(102%);
}
#Back-to-top:active{
	transform:scale(95%)
}








