*{
	margin:0px;
	
}
td[title="用户中心"]{
	color: antiquewhite !important;
}
html {
  scroll-behavior: smooth;
}
#nav-top{
	width:100%;
	height:54px;
	background-color:rgb(0, 170, 255);
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position:fixed;
	top:0px;
	z-index: 10;
}
table{
	border:2px;
}
tr{
	border:2px;
}
td{
	width:100px;
	/* background-color: wheat; */
	text-align: center;
	font-size:15px;
	color: aliceblue;
}

td a{
	text-decoration: none;
	color: aliceblue;
}
td a:visited {
    color: inherit;
}
td a:active {
    color: inherit;
}
body{
	position:relative;
	top:100px;
	background-color: rgb(245, 247, 250);
}

header{
	width:67%;
	height:auto;
	background-color: rgb(23, 102, 196);
	margin:0 auto;
	padding: 10px 50px;
	border-radius: 20px;
	color: aliceblue;
	position: relative;
}
#head{
	display: flex;
	justify-content: center;
}
#head div{
	background-color: rgb(56, 118, 197);
	margin: 10px;
	width: 320px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
#head div:hover{
	background-color: rgb(60, 129, 213);
	transform: translate(0,-4px);
	transition: all 0.2s ease;
}
#head-1{
	display: flex;
	margin: 20px 0;
}
#head-1 img{
	width:110px;
	display: flex;
}
#head-1 div{
	margin-left: 20px;
}
#head-name div{
	position: relative;
	left: -20px;
}
@media(max-width:1200px){
	header{
		padding-top: 25px;
	}
	#head{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#head div{
		width: 100%;
		height: 130px;
		border-radius: 20px;
	}
	#head-1{
		display: block;
		margin: 0 auto;
	}
	#head-1 img{
		display: block;
		margin: 0 auto;
	}
	#head-name{
		margin: 0 0 15px 0;
		width: 180px;
		position: relative;
		left: 50%;
		transform: translate(-60%)
	}
	
	#head-name h1{
		margin: 15px auto;
		text-align: center;
	}
	#head-name div{
		position: relative;
		left: 10px;
	}
}
main{
	display: flex;
	justify-content: space-around;
	margin: 30px 184px;
	
}
main hr{
	margin: 23px 0;
	border-color: rgb(202, 202, 202,30%);
	width: auto;
	height: 0.1px;
}
#products,#feedback,#set-up{
	width: 300px;
	height: auto;
	background-color: rgb(255, 255, 255);
	padding: 30px 25px;
	border-radius: 15px;
	box-shadow: 1px 1px 1px 1px rgb(127, 127, 127,30%);
}
#products:hover,#feedback:hover,#set-up:hover{
	transform: translate(0,-6px);
	transition: all 0.3s ease;
	box-shadow: 1px 2px 2px 2px rgb(127, 127, 127,50%);
}
#products,#feedback,#set-up h2{
	color: rgb(23, 102, 196)
}
#product-1,#product-2,#product-3{
	width: 100%;
	height: auto;
	background-color: rgb(246, 255, 255);
	margin: 20px 0px;
	border-radius: 10px;
	border: 1px solid rgb(202, 202, 202,30%);
	display: flex;
	padding: 10px;
	box-sizing: border-box;
}
#product-1:hover,#product-2:hover,#product-3:hover{
	background-color: rgb(215, 249, 255);
	transition: all 0.4s ease;
}
#text{
	font-size: 14px;
	line-height: 23px;
	margin: 0 9px;
}
#text-1 span{
	color: rgb(23, 209, 51);
}
#text-2 span{
	color: rgb(255, 170, 0);
}
#text-3 span{
	color: rgb(209, 84, 84);
}
#text h3{
	font-size: 17px;
	color: rgb(74, 74, 74);
} 
#fig{
	width: 70px;
	height: 70px;
}
#f-1,#f-2{
	width: 100%;
	height: auto;
	background-color: rgb(246, 255, 255);
	margin: 20px 0px;
	border-radius: 10px;
	border: 1px solid rgb(202, 202, 202,30%);
	box-sizing: border-box;
	padding: 15px 13px;
}
#f-1:hover,#f-2:hover{
	background-color: rgb(211, 244, 255);
	transition: all 0.4s ease;
}
#p-btn{
	background-color: rgb(23, 102, 196);
	border-radius: 5px;
	color: aliceblue;
	border: none;
	width: 46px;
	height: 28px;
	margin-top: 50%;
}
#p-btn:hover{
	background-color: rgb(19, 85, 161);
	color: whitesmoke;
	transition: all 0.2s ease;
}
#p-btn:active{
	transform: scale(90%);
}
#f-d-1-1,#f-d-2-1{
	display: flex;
	justify-content: space-between;
	
}
#f-d-1-1 :nth-child(1),#f-d-2-1 :nth-child(1){
	background-color: rgb(205, 240, 255);
	color: rgb(0, 0, 255);
	border-radius: 4px;
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
	width: 68px;
	height: 20px;
}
#f-d-1-1 :nth-last-child(1){
	color: rgb(23, 209, 51);
}
#f-d-2-1 :nth-last-child(1){
	color: rgb(255, 170, 0);
}
#f-d-1-2,#f-d-2-2{
	margin: 16px 0;
	color: rgb(101, 102, 103)
}
#f-btn{
	width: 80px;
	height: 28px;
	border-radius: 7px;
	border: 1px solid rgb(148, 153, 153);
	background-color: aliceblue;
	color: rgb(0, 170, 255);
	cursor: pointer;
}
#f-btn:hover{
	background-color: rgb(81, 157, 238);
	color: whitesmoke;
	transition: all 0.2s ease;
}
#f-btn:active{
	transform: scale(92%);
}


form{
	line-height: 35px;
}
form input{
	width: 90%;
	height: 35px;
	border-radius: 10px;
	border: 1px solid rgb(186, 193, 193)
}
form button{
	position: relative;
	top: 20px;
	left: 60%;
	width: 80px;
	height: 35px;
	border-radius: 9px;
	background-color: rgb(23, 102, 196);
	color: aliceblue;
	border: none;
	cursor: pointer;
}
form button:hover{
	background-color: rgb(81, 157, 238);
	color: whitesmoke;
	transition: all 0.2s ease;
}
form button:active{
	transform: scale(92%);
}

@media(max-width:1200px){
	main{
		display: block;
		margin: 0 auto;
	}
	#products{
		width:80%;
		display: block;
		margin: 20px auto;
	}
	#feedback{
		width:80%;
		display: block;
		margin: 20px auto;
	}
	#set-up{
		width:80%;
		display: block;
		margin: 20px auto;
	}
	#product-1,#product-2,#product-3{
		justify-content: space-between;
		padding: 10px 80px;
	}
	form button{
		left: 75%;
	}
}

#Back-to-top{
	width: 70px;
	height: 70px;
	/* background-color: antiquewhite; */
	z-index: 10;
	position: fixed;
	right:50px;
	bottom:40px;
	background-image: url(../img/返回顶部.webp);
	background-position:center;
	background-size: 130%;
	border-radius: 50%;
}
#Back-to-top:hover{
	transform: scale(102%);
}
#Back-to-top:active{
	transform:scale(95%)
}



